name: Deploy Testing

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy to Testing
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        env:
          EXPO_PUBLIC_API_BASE_URL: ${{ vars.BACKEND_BASE_URL_TEST }}
          EXPO_PUBLIC_REDIRECT_URI_WEB: ${{ vars.ENTRA_REDIRECT_URI_TEST }}
          EXPO_PUBLIC_ENTRA_CLIENT_ID: ${{ vars.ENTRA_CLIENT_ID }}
          EXPO_PUBLIC_ENTRA_TENANT_ID: ${{ vars.ENTRA_TENANT_ID }}
          EXPO_PUBLIC_ENTRA_SCOPE: ${{ vars.API_SCOPE }}
          EXPO_PUBLIC_DEEP_LINK_SCHEME: ${{ vars.DEEP_LINK_SCHEME }}
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_AMBITIOUS_SMOKE_016AA8B0F }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/"
          api_location: ""
          output_location: "dist"
